@charset "euc-jp";
/* CSS Document */

/*------------------------------------------------------------
general-purpose CSS
------------------------------------------------------------*/

/* ################################################### */
/* #                                                 # */
/* #                                                 # */
/* #                     general-purpose CSS         # */
/* #                                                 # */
/* #                                                 # */
/* ################################################### */

.R100per {
	border-radius:100% !important;
}
.W100per {
	width:100% !important;
}
.W95per {
	width:95% !important;
}


.ValignT {
	vertical-align: top !important;}
.ValignM {
	vertical-align: middle !important;}
.ValignBa {
	vertical-align: baseline !important;}
.ValignB {
	vertical-align: bottom !important;}


.Dblock {
	display: block!important;}
.Dinline {
	display: inline!important;}
.Fclear {
	clear: both!important;}
.Fleft {
	float: left!important;}
.Fright {
	float: right!important;}
	
.textR {
	text-align: right!important;}
.textL {
	text-align: left!important;}
.textC {
	text-align: center!important;}
.CenterMargin {
	margin-right:auto!important;
	margin-left:auto!important;
}

.fontNarrow {
	transform: scale( 0.9 , 1 )!important;
	}
.bold {
	font-weight: bold !important;}
.normal {
	font-weight: normal !important;}
.smallS {
	font-size: 0.85em !important;}
.small {
	font-size: 0.9em !important;}
.fontM {
	font-size: 1em !important;}
.fontL {
	font-size: 1.2em !important;}
.fontLL {
	font-size: 1.4em !important;}

.white {
	color: #fff;}	
.purple {
	color: #64448F !important;}
.blue {
	color: #0066cc !important;}
.red {
	color: #f00;}
.pink {color:#F76799 !important;}
.orange {	color: #FF9900 !important;}
.lightorange { color: #ff8f54 !important;}
.braun { color:#7b715b !important;}
.darkOrange { color:#EB5532!important;}
.green { color:#72C51F!important; }
.black { color: #000000!important;}


.icoGreen {
	background:url(../img/ico_green.gif) left 0.3em no-repeat;
	padding-left:7px;
}

.greenset {
	color:#84CB34;
	font-weight:bold;}
.orangest {
	color: #f60;
	font-weight: bold;}
.purplest {
	color: #63448E;
	font-weight: bold;}
.redst {
	color: #c00;
	font-weight: bold;}
.navyset {
	color: #1b3175;
	font-weight: bold;}
	
.listDisc li {
	list-style: disc;
	margin-left: 15px;}
.listDeci li {
	list-style: decimal;
	margin-left: 15px;}
.listNone li {
	list-style:none!important;
	}


.contentNone li:before {
	content:""!important;
	}



.BTDash {
	border-top: 1px dashed #b7a7ca;}
.BBDash {
	border-bottom: 1px dashed #b7a7ca;}
.BDNone {
	border:none!important;
}
.BgImageNone {
	background-image:none!important;
}
.BgGray {
	background:#EFEFEF;
}
.LH40 {
	line-height:40px;
}

a.OverStyle:hover img {
	opacity: .75; /* Standard: FF gt 1.5, Opera, Safari */
	filter: alpha(opacity=75); /* IE lt 8 */
	-ms-filter: "alpha(opacity=75)"; /* IE 8 */
	-khtml-opacity: .75; /* Safari 1.x */
	-moz-opacity: .75; /* FF lt 1.5, Netscape */
}
.baseLink a {
	display:block;
	color:#171717;
	border:1px solid #DDD;
	
	background:url(../img/arrow.png),
	-webkit-gradient(linear, center top, center bottom, 
	from(#FFFFFF),
	to(#FCFCFC));
	
	background:url(../img/arrow.png),
	-moz-linear-gradient(top center,
	#FFFFFF 0, 
	#FCFCFC 100%);
	
	background:url(../img/arrow.png),
	linear-gradient(center top, center bottom, 
	#FFFFFF 0, 
	#FCFCFC 100%);

	background-repeat:no-repeat,no-repeat;
	background-size:26px 9px,auto;
	background-position:5px center;
	
	background-size:10px 13px,auto;
	
	padding:8px 5px 8px 25px;
	margin:10px;
	
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	}

a.baseLinkOrange,
.baseLinkOrange a,
.continuedTo {
		display:inline-block;
		padding:3px;
		text-decoration:underline;
		
		background: #C4F7FF;
		border: 1px solid #01ADD8;
		border-radius: 5px 5px 5px 5px;
		display: inline-block;
		margin-bottom: 5px;
		margin-top: 10px;
		padding: 5px;
		color:#019DC5;
	}
.preparation {
	text-align:center;
	background:#EEE;
	border:1px solid #CCC;
	margin:10px;
	padding:30px 0;
	}
	
	
/*20150428追加*/
.detailsLink a {
    color: #ff558c;
    text-decoration: underline;
	}


/*------------------------------------------------------------
padding
------------------------------------------------------------*/

.pt0   {padding-top: 0     !important}
.pt5   {padding-top: 5px   !important}
.pt10  {padding-top: 10px  !important}
.pt15  {padding-top: 15px  !important}
.pt20  {padding-top: 20px  !important}
.pt25  {padding-top: 25px  !important}
.pt30  {padding-top: 30px  !important}
.pt35  {padding-top: 35px  !important}
.pt40  {padding-top: 40px  !important}
.pt45  {padding-top: 45px  !important}
.pt50  {padding-top: 50px  !important}
.pt55  {padding-top: 55px  !important}
.pt60  {padding-top: 60px  !important}
.pt65  {padding-top: 65px  !important}
.pt70  {padding-top: 70px  !important}
.pt75  {padding-top: 75px  !important}
.pt80  {padding-top: 80px  !important}
.pt85  {padding-top: 85px  !important}
.pt90  {padding-top: 90px  !important}
.pt95  {padding-top: 95px  !important}
.pt100 {padding-top: 100px !important}
.pt105 {padding-top: 105px !important}
.pt110 {padding-top: 110px !important}
.pt115 {padding-top: 115px !important}
.pt120 {padding-top: 120px !important}
.pt125 {padding-top: 125px !important}
.pt130 {padding-top: 130px !important}
.pt135 {padding-top: 135px !important}
.pt140 {padding-top: 140px !important}
.pt145 {padding-top: 145px !important}
.pt150 {padding-top: 150px !important}


.pr0   {padding-right: 0     !important}
.pr5   {padding-right: 5px   !important}
.pr10  {padding-right: 10px  !important}
.pr15  {padding-right: 15px  !important}
.pr20  {padding-right: 20px  !important}
.pr25  {padding-right: 25px  !important}
.pr30  {padding-right: 30px  !important}
.pr35  {padding-right: 35px  !important}
.pr40  {padding-right: 40px  !important}
.pr45  {padding-right: 45px  !important}
.pr50  {padding-right: 50px  !important}
.pr55  {padding-right: 55px  !important}
.pr60  {padding-right: 60px  !important}
.pr65  {padding-right: 65px  !important}
.pr70  {padding-right: 70px  !important}
.pr75  {padding-right: 75px  !important}
.pr80  {padding-right: 80px  !important}
.pr85  {padding-right: 85px  !important}
.pr90  {padding-right: 90px  !important}
.pr95  {padding-right: 95px  !important}
.pr100 {padding-right: 100px !important}
.pr105 {padding-right: 105px !important}
.pr110 {padding-right: 110px !important}
.pr115 {padding-right: 115px !important}
.pr120 {padding-right: 120px !important}
.pr125 {padding-right: 125px !important}
.pr130 {padding-right: 130px !important}
.pr135 {padding-right: 135px !important}
.pr140 {padding-right: 140px !important}
.pr145 {padding-right: 145px !important}
.pr150 {padding-right: 150px !important}


.pb0   {padding-bottom: 0     !important}
.pb5   {padding-bottom: 5px   !important}
.pb10  {padding-bottom: 10px  !important}
.pb15  {padding-bottom: 15px  !important}
.pb20  {padding-bottom: 20px  !important}
.pb25  {padding-bottom: 25px  !important}
.pb30  {padding-bottom: 30px  !important}
.pb35  {padding-bottom: 35px  !important}
.pb40  {padding-bottom: 40px  !important}
.pb45  {padding-bottom: 45px  !important}
.pb50  {padding-bottom: 50px  !important}
.pb55  {padding-bottom: 55px  !important}
.pb60  {padding-bottom: 60px  !important}
.pb65  {padding-bottom: 65px  !important}
.pb70  {padding-bottom: 70px  !important}
.pb75  {padding-bottom: 75px  !important}
.pb80  {padding-bottom: 80px  !important}
.pb85  {padding-bottom: 85px  !important}
.pb90  {padding-bottom: 90px  !important}
.pb95  {padding-bottom: 95px  !important}
.pb100 {padding-bottom: 100px !important}
.pb105 {padding-bottom: 105px !important}
.pb110 {padding-bottom: 110px !important}
.pb115 {padding-bottom: 115px !important}
.pb120 {padding-bottom: 120px !important}
.pb125 {padding-bottom: 125px !important}
.pb130 {padding-bottom: 130px !important}
.pb135 {padding-bottom: 135px !important}
.pb140 {padding-bottom: 140px !important}
.pb145 {padding-bottom: 145px !important}
.pb150 {padding-bottom: 150px !important}


.pl0   {padding-left: 0     !important}
.pl5   {padding-left: 5px   !important}
.pl10  {padding-left: 10px  !important}
.pl15  {padding-left: 15px  !important}
.pl20  {padding-left: 20px  !important}
.pl25  {padding-left: 25px  !important}
.pl30  {padding-left: 30px  !important}
.pl35  {padding-left: 35px  !important}
.pl40  {padding-left: 40px  !important}
.pl45  {padding-left: 45px  !important}
.pl50  {padding-left: 50px  !important}
.pl55  {padding-left: 55px  !important}
.pl60  {padding-left: 60px  !important}
.pl65  {padding-left: 65px  !important}
.pl70  {padding-left: 70px  !important}
.pl75  {padding-left: 75px  !important}
.pl80  {padding-left: 80px  !important}
.pl85  {padding-left: 85px  !important}
.pl90  {padding-left: 90px  !important}
.pl95  {padding-left: 95px  !important}
.pl100 {padding-left: 100px !important}
.pl105 {padding-left: 105px !important}
.pl110 {padding-left: 110px !important}
.pl115 {padding-left: 115px !important}
.pl120 {padding-left: 120px !important}
.pl125 {padding-left: 125px !important}
.pl130 {padding-left: 130px !important}
.pl135 {padding-left: 135px !important}
.pl140 {padding-left: 140px !important}
.pl145 {padding-left: 145px !important}
.pl150 {padding-left: 150px !important}




/*------------------------------------------------------------
margin
------------------------------------------------------------*/

.mt0   {margin-top: 0     !important}
.mt5   {margin-top: 5px   !important}
.mt10  {margin-top: 10px  !important}
.mt15  {margin-top: 15px  !important}
.mt20  {margin-top: 20px  !important}
.mt25  {margin-top: 25px  !important}
.mt30  {margin-top: 30px  !important}
.mt35  {margin-top: 35px  !important}
.mt40  {margin-top: 40px  !important}
.mt45  {margin-top: 45px  !important}
.mt50  {margin-top: 50px  !important}
.mt55  {margin-top: 55px  !important}
.mt60  {margin-top: 60px  !important}
.mt65  {margin-top: 65px  !important}
.mt70  {margin-top: 70px  !important}
.mt75  {margin-top: 75px  !important}
.mt80  {margin-top: 80px  !important}
.mt85  {margin-top: 85px  !important}
.mt90  {margin-top: 90px  !important}
.mt95  {margin-top: 95px  !important}
.mt100 {margin-top: 100px !important}
.mt105 {margin-top: 105px !important}
.mt110 {margin-top: 110px !important}
.mt115 {margin-top: 115px !important}
.mt120 {margin-top: 120px !important}
.mt125 {margin-top: 125px !important}
.mt130 {margin-top: 130px !important}
.mt135 {margin-top: 135px !important}
.mt140 {margin-top: 140px !important}
.mt145 {margin-top: 145px !important}
.mt150 {margin-top: 150px !important}


.mr0   {margin-right: 0     !important}
.mr2   {margin-right: 2px   !important}
.mr5   {margin-right: 5px   !important}
.mr10  {margin-right: 10px  !important}
.mr15  {margin-right: 15px  !important}
.mr20  {margin-right: 20px  !important}
.mr25  {margin-right: 25px  !important}
.mr30  {margin-right: 30px  !important}
.mr35  {margin-right: 35px  !important}
.mr40  {margin-right: 40px  !important}
.mr45  {margin-right: 45px  !important}
.mr50  {margin-right: 50px  !important}
.mr55  {margin-right: 55px  !important}
.mr60  {margin-right: 60px  !important}
.mr65  {margin-right: 65px  !important}
.mr70  {margin-right: 70px  !important}
.mr75  {margin-right: 75px  !important}
.mr80  {margin-right: 80px  !important}
.mr85  {margin-right: 85px  !important}
.mr90  {margin-right: 90px  !important}
.mr95  {margin-right: 95px  !important}
.mr100 {margin-right: 100px !important}
.mr105 {margin-right: 105px !important}
.mr110 {margin-right: 110px !important}
.mr115 {margin-right: 115px !important}
.mr120 {margin-right: 120px !important}
.mr125 {margin-right: 125px !important}
.mr130 {margin-right: 130px !important}
.mr135 {margin-right: 135px !important}
.mr140 {margin-right: 140px !important}
.mr145 {margin-right: 145px !important}
.mr150 {margin-right: 150px !important}


.mb0   {margin-bottom: 0     !important}
.mb5   {margin-bottom: 5px   !important}
.mb10  {margin-bottom: 10px  !important}
.mb15  {margin-bottom: 15px  !important}
.mb20  {margin-bottom: 20px  !important}
.mb25  {margin-bottom: 25px  !important}
.mb30  {margin-bottom: 30px  !important}
.mb35  {margin-bottom: 35px  !important}
.mb40  {margin-bottom: 40px  !important}
.mb45  {margin-bottom: 45px  !important}
.mb50  {margin-bottom: 50px  !important}
.mb55  {margin-bottom: 55px  !important}
.mb60  {margin-bottom: 60px  !important}
.mb65  {margin-bottom: 65px  !important}
.mb70  {margin-bottom: 70px  !important}
.mb75  {margin-bottom: 75px  !important}
.mb80  {margin-bottom: 80px  !important}
.mb85  {margin-bottom: 85px  !important}
.mb90  {margin-bottom: 90px  !important}
.mb95  {margin-bottom: 95px  !important}
.mb100 {margin-bottom: 100px !important}
.mb105 {margin-bottom: 105px !important}
.mb110 {margin-bottom: 110px !important}
.mb115 {margin-bottom: 115px !important}
.mb120 {margin-bottom: 120px !important}
.mb125 {margin-bottom: 125px !important}
.mb130 {margin-bottom: 130px !important}
.mb135 {margin-bottom: 135px !important}
.mb140 {margin-bottom: 140px !important}
.mb145 {margin-bottom: 145px !important}
.mb150 {margin-bottom: 150px !important}


.ml0   {margin-left: 0     !important}
.ml5   {margin-left: 5px   !important}
.ml10  {margin-left: 10px  !important}
.ml15  {margin-left: 15px  !important}
.ml20  {margin-left: 20px  !important}
.ml25  {margin-left: 25px  !important}
.ml30  {margin-left: 30px  !important}
.ml35  {margin-left: 35px  !important}
.ml40  {margin-left: 40px  !important}
.ml45  {margin-left: 45px  !important}
.ml50  {margin-left: 50px  !important}
.ml55  {margin-left: 55px  !important}
.ml60  {margin-left: 60px  !important}
.ml65  {margin-left: 65px  !important}
.ml70  {margin-left: 70px  !important}
.ml75  {margin-left: 75px  !important}
.ml80  {margin-left: 80px  !important}
.ml85  {margin-left: 85px  !important}
.ml90  {margin-left: 90px  !important}
.ml95  {margin-left: 95px  !important}
.ml100 {margin-left: 100px !important}
.ml105 {margin-left: 105px !important}
.ml110 {margin-left: 110px !important}
.ml115 {margin-left: 115px !important}
.ml120 {margin-left: 120px !important}
.ml125 {margin-left: 125px !important}
.ml130 {margin-left: 130px !important}
.ml135 {margin-left: 135px !important}
.ml140 {margin-left: 140px !important}
.ml145 {margin-left: 145px !important}
.ml150 {margin-left: 150px !important}



/*------------------------------------------------------------
width
------------------------------------------------------------*/
.W50 {width:50px !important}
.W55 {width:55px !important}
.W60 {width:60px !important}
.W65 {width:65px !important}
.W70 {width:70px !important}
.W75 {width:75px !important}
.W80 {width:80px !important}
.W85 {width:85px !important}
.W90 {width:90px !important}
.W95 {width:95px !important}
/*100臓・*/
.W100 {width:100px !important}
.W105 {width:105px !important}
.W110 {width:110px !important}
.W115 {width:115px !important}
.W120 {width:120px !important}
.W125 {width:125px !important}
.W130 {width:130px !important}
.W135 {width:135px !important}
.W140 {width:140px !important}
.W145 {width:145px !important}
.W150 {width:150px !important}
.W155 {width:155px !important}
.W160 {width:160px !important}
.W165 {width:165px !important}
.W170 {width:170px !important}
.W175 {width:175px !important}
.W180 {width:180px !important}
.W185 {width:185px !important}
.W190 {width:190px !important}
.W195 {width:195px !important}

/*200臓・*/
.W200 {width:200px !important}
.W205 {width:205px !important}
.W220 {width:220px !important}
.W225 {width:225px !important}
.W220 {width:220px !important}
.W225 {width:225px !important}
.W230 {width:230px !important}
.W235 {width:235px !important}
.W240 {width:240px !important}
.W245 {width:245px !important}
.W250 {width:250px !important}
.W255 {width:255px !important}
.W260 {width:260px !important}
.W265 {width:265px !important}
.W270 {width:270px !important}
.W275 {width:275px !important}
.W280 {width:280px !important}
.W285 {width:285px !important}
.W290 {width:290px !important}
.W295 {width:295px !important}


/*300臓・*/
.W300 {width:300px !important}
.W305 {width:305px !important}
.W330 {width:330px !important}
.W335 {width:335px !important}
.W330 {width:330px !important}
.W335 {width:335px !important}
.W330 {width:330px !important}
.W335 {width:335px !important}
.W340 {width:340px !important}
.W345 {width:345px !important}
.W350 {width:350px !important}
.W355 {width:355px !important}
.W360 {width:360px !important}
.W365 {width:365px !important}
.W370 {width:370px !important}
.W375 {width:375px !important}
.W380 {width:380px !important}
.W385 {width:385px !important}
.W390 {width:390px !important}
.W395 {width:395px !important}
.W400 {width:400px !important}