@charset "utf-8";
/* CSS Document */

body{
	margin:0px;
	padding:0px;
	font-size:12px;
	line-height:18px;
}

p{
	margin:0px;
	padding:0px;
}

a{
	/*text-decoration:none;*/
	color:#379FC0;
}

p.blog_title{
	font-weight:bold;
	color:#379FC0;
}
