# シャープで始めるとコメント行になる
 
# digital フォルダまるごと無視したい
digital/
 
# 下階層全てのフォルダ内で ".DS_Store"  "img/"ファイルを無視したい
*/.DS_Store
*/img/
*/img/*/
*/images/
*/video/
 
# 下階層全てのフォルダ内で拡張子が .png .gif .jpg のファイルを無視したい
*/*.png
*/*.gif
*/*.jpg
 
# img フォルダをまるごと無視したい
# だけど .png だけは無視したくない
img/*.*
images/*.*
images/*/*
images/*
