RewriteEngine on
RewriteRule ^(.*)myschool/$ http://www.jikei-hospitality.ac.jp/event/myschool.html [R=301,L]
RewriteRule ^(.*)explanation/setumei.php$ http://www.jikei-hospitality.ac.jp/event/e-briefing.html [R=301,L]
RewriteRule ^(.*)explanation/parents.php$ http://www.jikei-hospitality.ac.jp/event/e-parents.html [R=301,L]
RewriteRule ^(.*)explanation/expense.php$ http://www.jikei-hospitality.ac.jp/event/e-briefing.html [R=301,L]
RewriteRule ^(.*)explanation/ao.php$ http://www.jikei-hospitality.ac.jp/event/e-aosetumei.html [R=301,L]
RewriteRule ^(.*)explanation/guidance.php$ http://www.jikei-hospitality.ac.jp/event/guidance.html [R=301,L]
RewriteRule ^(.*)trial/$ http://www.jikei-hospitality.ac.jp/event/ [R=301,L]
RewriteRule ^(.*)trial/bridal.php$ http://www.jikei-hospitality.ac.jp/event/results.html?category[]=1059&type[]=3&type[]=2 [R=301,L]
RewriteRule ^(.*)trial/hotel.php$ http://www.jikei-hospitality.ac.jp/event/results.html?category[]=1062&type[]=3&type[]=2 [R=301,L]
RewriteRule ^(.*)trial/travel.php$ http://www.jikei-hospitality.ac.jp/event/results.html?category[]=1063&type[]=3&type[]=2 [R=301,L]
RewriteRule ^(.*)trial/railroad.php$ http://www.jikei-hospitality.ac.jp/event/results.html?category[]=1065&type[]=3&type[]=2 [R=301,L]
RewriteRule ^(.*)trial/airline.php$ http://www.jikei-hospitality.ac.jp/event/results.html?category[]=1060&type[]=3&type[]=2 [R=301,L]
RewriteRule ^(.*)trial/ceremony.php$ http://www.jikei-hospitality.ac.jp/event/results.html?category[]=1064&type[]=3&type[]=2 [R=301,L]
RewriteRule ^(.*)special/dressmarch.php$ http://www.jikei-hospitality.ac.jp/event/e-dress.html [R=301,L]
RewriteRule ^(.*)special/work_study.php$ http://www.jikei-hospitality.ac.jp/event/e-work_studys.html [R=301,L]
RewriteRule ^(.*)special/(.*)$ http://www.jikei-hospitality.ac.jp/event/results.html?type[]=3 [R=301,L]
RewriteRule ^(.*)bus/(.*)$ http://www.jikei-hospitality.ac.jp/event/bus.html [R=301,L]
